<section class="content-header">
  <h1>Role Permissions</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <div class="box box-success" ng-if="$ctrl.view == 'read'">
        <div class="box-header with-border">
          <a ui-sref="roles" class="text-black">
            <i class="fa fa-chevron-left"></i> <h3 class="box-title">{{$ctrl.record.name}}</h3>
          </a>
          <div class="box-tools pull-right">
            <button ng-click="$ctrl.loadRecords()" type="button" class="btn btn-box-tool"><i class="fa fa-refresh"></i></button>
          </div>
        </div>
        <div class="box-body table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Kode Permission</th>
              <th>Deskripsi</th>
              <th style="width: 35px">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in $ctrl.records">
              <td>{{item.name}}</td>
              <td>{{item.description}}</td>
              <td>
                <a ng-if="!$ctrl.hasPermission(item.id)" ng-click="$ctrl.attachPermission(item.id)" style="cursor: pointer" class="text-green"><i class="fa fa-square-o"></i></a>
                <a ng-if="$ctrl.hasPermission(item.id)" ng-click="$ctrl.detachPermission(item.id)" style="cursor: pointer" class="text-green"><i class="fa fa-check-square"></i></a>
              </td>
            </tr>
            <tr ng-if="$ctrl.records.length == 0">
              <td colspan="5" class="text-center">Data Kosong</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="overlay" ng-if="$ctrl.isLoading()">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</section>
