<section class="content-header">
    <h1>Users</h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-sm-12">
            <div class="box box-success" ng-if="$ctrl.view == 'read'">
                <div class="box-header with-border">
                    <h3 class="box-title">Daftar User</h3>
                    <div class="box-tools pull-right">
                        <button ng-click="$ctrl.loadRecords()" type="button" class="btn btn-box-tool"><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
                <div class="box-body table-responsive">
                    <a class="pull-right btn btn-sm btn-success" ng-click="$ctrl.setView('create')">Buat User</a>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Nama Lengkap</th>
                            <th>Panggilan</th>
                            <th>Jenis Kelamin</th>
                            <th>Kontak</th>
                            <th>Email</th>
                            <th>Domisili</th>
                            <th>Status</th>
                            <th style="width: 105px">&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in $ctrl.records">
                            <td style="vertical-align: middle">
                                <img class="display-picture" ng-src="{{item.photo || '/images/default_avatar.png'}}" ng-click="$ctrl.openPhoto(item.photo || '/images/default_avatar.png')" alt="profile picture">
                                {{item.fullname}}
                            </td>
                            <td style="vertical-align: middle">{{item.nickname}}</td>
                            <td style="vertical-align: middle">{{item.gender}}</td>
                            <td style="vertical-align: middle">
                                <a class="text-black" ng-if="item.has_phone && item.phone_number != item.whatsapp_number"><i class="fa fa-phone"></i> {{item.phone_number}}<br/></a>
                                <a class="text-black" ng-if="item.has_whatsapp" ng-href="{{item.whatsapp_link}}" target="_blank"><i class="fa fa-whatsapp"></i> {{item.whatsapp_number}}</a></td>
                            <td style="vertical-align: middle">{{item.email}}</td>
                            <td style="vertical-align: middle">{{item.district_name}}, {{item.regency_name}}, {{item.province_name}}</td>
                            <td style="vertical-align: middle">{{item.status}}</td>
                            <td>
                            </td>
                        </tr>
                        <tr ng-if="$ctrl.records.length == 0">
                            <td colspan="9" class="text-center">Data Kosong</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="overlay" ng-if="$ctrl.isLoading()">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
            <div class="box box-success" ng-if="$ctrl.view == 'create'">
                <div class="box-header with-border">
                    <h3 class="box-title">{{$ctrl.params.id == null ? 'Buat User' : 'Edit User #' + $ctrl.params.id}}</h3>
                </div>
                <form>
                    <div class="box-body">
                        Apologize, feature is not ready yet.
                    </div>
                </form>
                <div class="box-footer">
                    <a class="btn btn-default pull-left" ng-click="$ctrl.back()">Kembali</a>
                </div>
                <div class="overlay" ng-if="$ctrl.isLoading()">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
</section>
