<section class="sidebar">
    <div class="user-panel">
        <div class="info" style="position:unset" ng-if="$ctrl.$rootScope.user">
            <p>{{$ctrl.$rootScope.user.fullname}} <a style="cursor: pointer" ng-click="$ctrl.logout()">(Keluar)</a></p>
            <small>{{$ctrl.$rootScope.user.email}}</small>
        </div>
        <div class="info" style="position:unset" ng-hide="$ctrl.$rootScope.user">
            <p>Connecting... <i class="fa fa-circle pulse text-danger"></i></p>
        </div>
    </div>
    <ul class="sidebar-menu" ng-if="$ctrl.$rootScope.user">
        <li class="header">MENU</li>
        <li ng-repeat="menu in $ctrl.menus.getItems()" ng-hide="!$ctrl.canAccess(menu)" class="treeview" ng-class="{active: $ctrl.isMenuActive(menu)}">
            <a href="#"><i class="fa fa-link"></i> <span>{{menu.getTitle()}}</span> <i class="fa fa-angle-left pull-right"></i></a>
            <ul ng-repeat="item in menu.getItems()" class="treeview-menu">
                <li ng-class="{active: $ctrl.isMenuItemActive(item)}"><a ui-sref="{{item.getLink()}}">{{item.getTitle()}}</a></li>
            </ul>
        </li>
    </ul>
</section>
