<header class="main-header"></header>
<main-sidebar class="main-sidebar"></main-sidebar>
<div class="content-wrapper" style="min-height: 861px;">
    <ui-view ng-if="$ctrl.$rootScope.user || $ctrl.$rootScope.isCallback"></ui-view>
</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Portal Data RISKA v{{$ctrl.version}} - Build on {{$ctrl.buildVersion}}
    </div>
    <strong>Copyright &copy; {{$ctrl.year}} <a href="https://riska.or.id/" target="_blank">R.I.S.K.A</a>.</strong> All rights reserved.
</footer>
