app {
    display: block
}

input.readonly {
    background-color: white !important;
}

input.as-label {
    background-color: unset !important;
    border: none !important;
}

.clock > div > .digital {
    color: white;
    font-size: 5px;
    text-align: right !important;
}

.navbar-custom-menu {
    padding-top: 10px;
    padding-right: 10px;
}

.input-middle {
    position: absolute;
    top: 6px;
    margin-left: -5px;
}

.space-left {
    margin-left: 5px;
}

.space-right {
    margin-right: 5px;
}

.sidebar-form .select-search-list-item_input input {
    background-color: transparent;
    border: none;

}

.sidebar-form oi-select.custom .btn {
    height: unset;
}

oi-select.custom .select-search:focus-within {
    background-color: #fff;
    color: #666;
}

oi-select.custom .select-dropdown {
    width: 208px;
    position: unset;
}

oi-select.custom .select-search {
    background-color: #374850;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

oi-select.custom .select-search:after {
    border: none !important;
}

.pulse {
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
    animation: pulse 1s infinite;
}

.pulse:hover {
    animation: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}
