@import url('https://fonts.googleapis.com/css?family=Montserrat');

.wrapper {
	position: relative;
	height: 15em;
}

.countdown-container {
	font-family: sans-serif;
	-webkit-font-smoothing: antialiased;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.countdown {
	display: flex;
	transform-style: preserve3d;
	perspective: 500px;
	/* height: 10rem;
	width: 80em; */
	margin: 0 auto;
}
.countdown.remove {
	animation: hide-countdown 1s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
	overflow: hidden;
}

.number, .separator {
	/* display: block; */
	color: #fff;
	/* height: 10rem; */
	font-size: 4rem;
	position: relative;
	line-height: 10rem;
	text-align: center;
	width: 100%;
}

.separator {
	margin: 0;
	width: 2rem;
}

.new, .old, .current {
	color: #fff;
	position: absolute;
	border-radius: 1rem;
	height: 10rem;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.new {
	animation: show-new 0.4s cubic-bezier(0, 0.9, 0.5, 1.2) forwards;
}

.old {
	animation: hide-old 2s cubic-bezier(0, 0.9, 0.56, 1.2) forwards;
}

.countdown section {
	position: relative;
}

#js-days:after, #js-hours:after, #js-minutes:after, #js-seconds:after {
	content: "DAYS";
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	bottom: -60px;
	font-size: 9px;
}
#js-hours:after {
	content: "HOURS";
}
#js-minutes:after {
	content: "MINUTES";
}
#js-seconds:after {
	content: "SECONDS";
}
@keyframes hide-countdown {
to {
	height: 0;
	overflow: hidden;
}
}
@keyframes show-new {
0% {
	opacity: 0;
	transform: translate(-50%, -50%) translateY(-2rem) scale(0.8) rotateX(-20deg);
}
100% {
	transform: translate(-50%, -50%);
}
}
@keyframes hide-old {
0% {
	transform: translate(-50%, -50%);
}
100% {
	opacity: 0;
	transform: translate(-50%, -50%) translateY(-5rem) scale(0.5) rotateX(-75deg);
}
}

body{
	font: normal 13px/20px Arial, Helvetica, sans-serif; word-wrap:break-word;
	color: #eee;
	background: #353535;
}
/* #countdown{
	width: 465px;
	height: 112px;
	text-align: center;
	background: #222;
	background-image: -webkit-linear-gradient(top, #222, #333, #333, #222);
	background-image:    -moz-linear-gradient(top, #222, #333, #333, #222);
	background-image:     -ms-linear-gradient(top, #222, #333, #333, #222);
	background-image:      -o-linear-gradient(top, #222, #333, #333, #222);
	border: 1px solid #111;
	border-radius: 5px;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
	margin: auto;
	margin-top: auto;
	padding: 24px 0;
	position: relative;
    top: 0; bottom: 0; left: 0; right: 0;
}

#countdown:before{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; left: -10px;
}

#countdown:after{
	content:"";
	width: 8px;
	height: 65px;
	background: #444;
	background-image: -webkit-linear-gradient(top, #555, #444, #444, #555);
	background-image:    -moz-linear-gradient(top, #555, #444, #444, #555);
	background-image:     -ms-linear-gradient(top, #555, #444, #444, #555);
	background-image:      -o-linear-gradient(top, #555, #444, #444, #555);
	border: 1px solid #111;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	display: block;
	position: absolute;
	top: 48px; right: -10px;
}

#countdown #tiles{
	position: relative;
	z-index: 1;
}

#countdown #tiles > span{
	width: 92px;
	max-width: 92px;
	font: bold 48px 'Droid Sans', Arial, sans-serif;
	text-align: center;
	color: #111;
	background-color: #ddd;
	background-image: -webkit-linear-gradient(top, #bbb, #eee);
	background-image:    -moz-linear-gradient(top, #bbb, #eee);
	background-image:     -ms-linear-gradient(top, #bbb, #eee);
	background-image:      -o-linear-gradient(top, #bbb, #eee);
	border-top: 1px solid #fff;
	border-radius: 3px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
	margin: 0 7px;
	padding: 18px 0;
	display: inline-block;
	position: relative;
}

#countdown #tiles > span:before{
	content:"";
	width: 100%;
	height: 13px;
	background: #111;
	display: block;
	padding: 0 3px;
	position: absolute;
	top: 41%; left: -3px;
	z-index: -1;
}

#countdown #tiles > span:after{
	content:"";
	width: 100%;
	height: 1px;
	background: #eee;
	border-top: 1px solid #333;
	display: block;
	position: absolute;
	top: 48%; left: 0;
}

#countdown .labels{
	width: 100%;
	height: 25px;
	text-align: center;
	position: absolute;
	bottom: auto;
}

#countdown .labels li{
	width: 102px;
	font: bold 15px 'Droid Sans', Arial, sans-serif;
	color: #f47321;
	text-shadow: 1px 1px 0px #000;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
} */
